@{
    IEnumerable<category> category = ViewData["Category"] as IEnumerable<category>;
    IEnumerable<item> items = ViewData["Items"] as IEnumerable<item>;
    ViewBag.Title = "Home";
    IEnumerable<pet> pets = ViewData["Pets"] as IEnumerable<pet>;
    var value = 8012.34m;
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var base64 = "";
    var imgsrc = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Collections;


<!-- Best Food-brands -->
<div class="top-brands">
    <div class="container">
        <h3>Best Food</h3>
        <div class="agile_top_brands_grids">
            @for (int i = 0; i < 4; i++)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            @if (items.ElementAt(i).image != null)
                                            {
                                                base64 = Convert.ToBase64String(items.ElementAt(i).image);
                                                imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                <a href="@Url.Action("Singleitem", "Home", new { id = items.ElementAt(i).id })"><img title=" " alt=" " src="@imgsrc" class="img-responsive" /></a>
                                            }
                                            <p>@items.ElementAt(i).name</p>
                                            <h4>
                                                @String.Format(info, "{0:c}", items.ElementAt(i).pricePerUnit)
                                            </h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            @using (Html.BeginForm("Buy", "Cart", FormMethod.Post))
                                            {
                                                <fieldset>
                                                    <input type="hidden" name="id" value="@items.ElementAt(i).id" />
                                                    <input type="hidden" name="product" value="item" />
                                                    <input type="hidden" name="Controller" value="Home" />
                                                    <input type="hidden" name="Action" value="Index" />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>
                                            }
                                        </div>
                                    </div>
                                </figure>

                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //Best Food -->
<div class="top-brands">
    <!--Pet-->
    <div class="container">
        <h3>PET</h3>
        <div class="agile_top_brands_grids">
            @for (int i = 0; i < 4; i++)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            @if (pets.ElementAt(i).image != null)
                                            {
                                                base64 = Convert.ToBase64String(pets.ElementAt(i).image);
                                                imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                <a href="@Url.Action("Singlepet", "Home", new { id = pets.ElementAt(i).id })"><img title=" " alt=" " src="@imgsrc" class="img-responsive" /></a>
                                            }
                                            <p>@pets.ElementAt(i).name</p>
                                            <h4>
                                                @String.Format(info, "{0:c}", pets.ElementAt(i).price)
                                            </h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            @using (Html.BeginForm("Buy", "Cart", FormMethod.Post))
                                            {
                                                <fieldset>
                                                    <input type="hidden" name="id" value="@pets.ElementAt(i).id" />
                                                    <input type="hidden" name="product" value="pet" />
                                                    <input type="hidden" name="Controller" value="Home" />
                                                    <input type="hidden" name="Action" value="Index" />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>
                                            }
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- Suggest -->
<div class="top-brands">
    <div class="container">
        <h3>Suggestion</h3>
        <div class="agile_top_brands_grids">
            @for (int i = items.Count() - 1; i > items.Count() - 5; i--)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            @if (items.ElementAt(i).image != null)
                                            {
                                                base64 = Convert.ToBase64String(items.ElementAt(i).image);
                                                imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                <a href="@Url.Action("Singleitem", "Home", new { id = items.ElementAt(i).id })"><img title=" " alt=" " src="@imgsrc" class="img-responsive" /></a>
                                            }
                                            <p>@items.ElementAt(i).name</p>
                                            <h4> @items.ElementAt(i).pricePerUnit VND</h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            @using (Html.BeginForm("Buy", "Cart", FormMethod.Post))
                                            {
                                                <fieldset>
                                                    <input type="hidden" name="id" value="@items.ElementAt(i).id" />
                                                    <input type="hidden" name="product" value="item" />
                                                    <input type="hidden" name="Controller" value="Home" />
                                                    <input type="hidden" name="Action" value="Index" />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>

                                            }
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
        <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //top-brands -->
